body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container, .container-fluid {
    padding: 20px 15px;
}

.form-inline {
    justify-content: center;
    padding: 20px 0;
}

.restaurant {
    background-color: #f8f8f8;
    margin: 1px 0;
    padding: 1px;
    border: 1px solid #ddd;
}

footer {
    background-color: #ff8000;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

